* {
    font-size: 30px;
    margin: 5px;
    color: white;
}

#calculator {
    margin: 0 auto;
    width: 250px;
    background-color: #222222;
}

#display{
    text-align: right;
    padding: 10px  
}

.row{
    text-align: center;  
}

button {
    border-radius: 50%;
    width: 40px;
    background-color:  #666666;
}

.operator{
    background-color: #ff8c00;
    color: white;
}

#equals{
    padding: 0px 90px;
    border-radius: 30%;
    align-items: center;
    margin: center;
    background-color: #cccccc;
    color:#222222;
}